<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>success</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #image img{
                display:block;
                width: 25%;
            }
            #rooms img{
                display:inline-block;
                width: 5%;
            }
            #rooms p{
                display:inline-block;
            }
        </style>
    </head>
    <body>
        <div th:object="${user}">
            <p th:text="*{firstName}"></p>
            <p th:text="*{lastName}"></p>
            <p th:text="*{email}"></p>
        </div>
        <div id="image">
            <img th:src="@{${user.generateImage()}}">
        </div>
        <!--<form enctype="multipart/form-data" id="fileForm" name="fileForm"
              th:method="POST" th:action="@{/avatar/{id}(id=${user.getId()})}">
   <p><input type="file" id="file" name="photo" accept="image/*">
   <input type="submit" value="Установить фото"></p>
  </form>
         <form
            th:method="DELETE" th:action="@{/avatar/{id}(id=${user.getId()})}">
            <button type="submit">Удалить фото</button>
        </form>-->
        <a th:href="@{/createRoom/{id}(id=${user.getId()})}">Create room</a>
        <br/>
        <a th:href="@{/success}">Update</a>
        <p>Rooms:</p>
        <div th:each="room : ${rooms}" id="rooms">
            <img th:src="@{${room.generateImage()}}">
            <a th:href=
                   "@{/room/{id}(id=${room.getCreatorid()})}"
                   ><p th:text="${room.getName()}"></p></a>
        </div>
        <br/>
        <a th:href="@{/edit/{id}(id=${user.getId()})}">Edit</a>
        <form
            th:method="DELETE" th:action="@{/delete/{id}(id=${user.getId()})}">
            <button type="submit">Delete</button>
        </form>
        <form th:action="@{/logout}" th:method="POST">
            <button type="submit">Logout</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script type = "text/javascript">
             var socket = new SockJS('http://localhost:8080/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, onConnected, onError);
        function onConnected() {
            console.log("its working");
            stompClient.subscribe("/success",  onMessageReceived);
        }
        function onError(error) {
    console.log(error);
}
function onMessageReceived(payload) {
    window.location.reload();
}

        </script>
    </body>
</html>
